* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* height: 250vh; */
}

:root {
  --UPPER-HEADER-BG: rgb(255, 255, 255);
  --MAIN-HEADING-FONT: Yeseva One;
  --SUB-HEADING-FONT: Work Sans;
  --MAIN-HEADING-COLOR: #1f2b6c;
  --SUB-HEADING-COLOR: #159eec;
  --BORDER: 1px solid red;
}

/* upper header */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
.upper-header-box-div {
  max-width: 100%;
  height: 80px;
  display: flex;
  background-color: var(--UPPER-HEADER-BG);
  justify-content: space-around;
  align-items: center;
}
.hospital-name {
  font-weight: 700;
  color: var(--MAIN-HEADING-COLOR);
  font-size: 2rem;
  font-family: var(--MAIN-HEADING-FONT);
}
#name-for-color {
  color: var(--SUB-HEADING-COLOR);
}
.detail-list {
  height: 43px;
  width: 700px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.detail {
  height: 40px;
  width: 186px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr 1fr;
}
.detail-logo {
  grid-row: 1/3;
}
.detail-head {
  color: #1f2b6c;
  grid-column: 2/3;
  font-size: 16px;
  line-height: 18px;
}
.detail-info {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 16px;
  line-height: 18px;
  color: var(--SUB-HEADING-COLOR);
}

/* Lower header  */

.nav-bar {
  max-width: 100%;
  height: 80px;
  background-color: var(--MAIN-HEADING-COLOR);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar-list {
  list-style-type: none;
  height: 30px;
  width: 550px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.nav-bar-items > a,
.home > a {
  color: #fcfefe;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
.home > a {
  color: #bfd2f8;
}
.nav-bar-right {
  height: 45px;
  width: 223px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointment-box {
  height: 45px;
  width: 173px;
  border-radius: 50px;
  background-color: #bfd2f8;
  color: var(--MAIN-HEADING-COLOR);
  display: grid;
  place-items: center;
}

/* main part  */
main {
  padding-top: 160px;
  overflow: hidden;
}
/* first view */

.first-view-box {
  max-width: 100%;
  position: relative;
  height: 650px;
  background-color: #eceaf0;
  position: relative;
}
.doctor-img {
  height: 645px;
}
.quote {
  height: 230px;
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  top: 167px;
  left: 786px;
}
.quote-upper {
  font-size: 18px;
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 700;
  line-height: 22px;
  color: var(--SUB-HEADING-COLOR);
}
.quote-heading {
  font-family: var(--MAIN-HEADING-FONT);
  font-size: 48px;
  line-height: 55px;
  font-weight: 600;
  color: #1f2b6c;
}
.quote-lower {
  width: 175px;
  height: 45px;
  background-color: #bfd2f8;
  display: grid;
  place-items: center;
  border-radius: 50px;
}

/* book appointment */

.book-box {
  display: flex;
  gap: 20px;
  position: relative;
  left: 300px;
  top: -50px;
}
.book-appointment {
  height: 100px;
  width: 318px;
  border-radius: 5px;
  background-color: var(--MAIN-HEADING-COLOR);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.book-appointment > img {
  height: 50px;
  width: 50px;
}
#book-appointment-color {
  background-color: #bfd2f8;
}
#book-appointment-color2 {
  background-color: var(--SUB-HEADING-COLOR);
}

/* wellcome message */

.wellcome-message {
  height: 210px;
  width: 675px;
  position: relative;
  left: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0;
}
.caption {
  color: var(--SUB-HEADING-COLOR);
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 700;
  font-size: 30px;
}
.caption2 {
  font-family: var(--MAIN-HEADING-FONT);
  font-size: 36px;
  font-weight: 500;
  color: var(--MAIN-HEADING-COLOR);
}
.wellcome-message-describe {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  font-family: var(--SUB-HEADING-FONT);
}
.wellcome-message-learn-a {
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 400;
  font-size: 20px;
  color: var(--SUB-HEADING-COLOR);
  text-decoration: none;
}
.home-group-img {
  width: 90%;
  display: block;
  margin: auto;
}

/* home services */

.home-service-box {
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home-service-heading {
  width: 320px;
  height: 70px;
  text-align: center;
}
#home-services {
  font-size: 32px;
  font-weight: 500;
}
.home-service-second-box {
  width: 1000px;
  height: 490px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-service-second-left {
  width: 160px;
  height: 485px;
  border: 0.5px solid black;
  border-radius: 5px;
}
.left-service-icon-box {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#left-services-icon-color {
  background-color: #1f2b6c;
  color: #bfd2f8;
}
.left-service-icon-view-all {
  height: 44px;
  display: grid;
  place-items: center;
  background-color: #1f2b6c;
  border-radius: 0 0 5px 5px;
  color: #bfd2f8;
}
.home-service-second-middle {
  width: 490px;
  height: 385px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.second-service-heading {
  font-size: 30px;
  font-weight: 500;
  font-family: var(--SUB-HEADING-FONT);
  color: var(--MAIN-HEADING-COLOR);
  line-height: 30px;
}
.second-service-list {
  width: 500px;
  height: 110px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.second-service-list > li {
  font-size: 20px;
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 500;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.second-service-list-dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #159eec;
}
.second-service-explain,
.text-font {
  font-size: 17px;
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 400;
  line-height: 22px;
}
.home-service-second-image {
  height: 488px;
  width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-service-second-img {
  width: 325px;
  height: 232px;
}

/* our specialties */

.specialties-box {
  height: 650px;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}
.caption-specialties {
  font-size: 20px;
  font-family: var(--SUB-HEADING-FONT);
  color: var(--SUB-HEADING-COLOR);
  font-weight: 700;
  line-height: 21px;
}

.specialties-catageory-box {
  height: 516px;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.specialties-catageory {
  height: 172px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 0.17px solid hsla(0, 0%, 0%, 0.1);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--SUB-HEADING-FONT);
}

#specialties-catageory-bones {
  background-color: var(--MAIN-HEADING-COLOR);
  color: #bfd2f8;
}

/* book appoinment form */

.book-appointment-form-box {
  width: 1366;
  margin-top: 50px;
  position: relative;
  height: 573px;
  background: url(../code-pic/appoitnment-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: center;
}
.book-appointment-form {
  border-radius: 10px;
}
.book-appointment-form-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    251,
    254,
    254,
    0.7
  ); /* Adjust gray (128,128,128) and opacity (0.5) */
  pointer-events: none;
}
.book-appointment-form-heading {
  height: 163px;
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
#form-caption-color {
  position: relative;
  z-index: 100;
  color: rgba(21, 158, 236, 1);
}
.book-appointment-text-font,
.book-appointment-form {
  position: relative;
  z-index: 100;
}
.book-appointment-form {
  height: 500px;
  width: 491px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  background-color: var(--MAIN-HEADING-COLOR);
}
.form-input-p {
  font-family: var(--SUB-HEADING-FONT);
  font-size: 16px;
  font-weight: 400;
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: #fcfefe;
}
.message {
  display: block;
  padding: 15px 0 0 15px;
  grid-column: 1/3;
  grid-row: 5/9;
}
.form-button {
  grid-column: 1/3;
  background-color: #bfd2f8;
  color: #1f2b6c;
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 500;
  font-size: 16px;
  border-radius: 0 0 5px 5px;
}
.name-border {
  border-radius: 5px 0 0 0;
}
.gender-border {
  border-radius: 0 5px 0 0;
}
/* doctor profile */

.doctor-profile-box {
  width: 1000px;
  height: 718px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 0 auto;
}
.our-doctors {
  text-align: center;
}
.doctor-profile-info-box {
  height: 538px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.doctor-profile-pic-box {
  height: 538px;
  /* display: flex;
  flex-direction: column; */
}
.doctor-profile-info {
  width: 317px;
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #bfd2f8;
}

.doctor-profile-name {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--SUB-HEADING-FONT);
  color: var(--MAIN-HEADING-COLOR);
}
.doctor-profile-info {
  width: 317px;
  height: 142px;
}
.doctor-profile-spicification {
  font-family: var(--SUB-HEADING-FONT);
  font-size: 18px;
  font-weight: 700;
}
.doctor-social-media {
  width: 112px;
  display: flex;
  justify-content: space-between;
}
.doctor-view-profile {
  width: 317px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 400;
  color: #bfd2f8;
  background-color: var(--MAIN-HEADING-COLOR);
  border-radius: 0 0 5px 5px;
}
.profile-scroll-box {
  height: 18px;
  width: 74px;
  display: flex;
  justify-content: space-between;
}
.box-scroll-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #bfd2f8;
}
.box-scroll-dot-color {
  background-color: var(--MAIN-HEADING-COLOR);
}

/* news */

.home-news-main-box {
  height: 636px;
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-align: center;
  align-items: center;
  position: relative;
}
.news-box {
  width: 992px;
  height: 328px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.news-collection {
  width: 486px;
  height: 154px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.news-date {
  text-align: start;
  font-size: 14px;
}
.news-artical {
  text-align: start;
  font-size: 18px;
}
.news {
  width: 274px;
  height: 114px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.news-feedback {
  width: 88px;
  height: 16px;
  display: flex;
  justify-content: space-between;
}
.interaction {
  width: 39px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 400;
}
.profile-scroll-box-position {
  position: absolute;
  bottom: 30px;
}

/* contact */

.contact-main-div {
  width: 992px;
  height: 363px;
  margin: 60px auto 0 auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-sub-div {
  width: 992px;
  height: 233px;
  display: flex;
  justify-content: space-between;
}
.contact-box {
  height: 233px;
  width: 233px;
  background-color: #bfd2f8;
  display: grid;
  place-items: center;
}
.contact-box-color {
  background-color: #1f2b6c;
  color: #bfd2f8;
}

.contact-item {
  width: 148px;
  height: 131px;
  display: grid;
  text-align: start;
}
.contact-item-size {
  width: 158px;
}
#contact-box-item-color {
  color: #bfd2f8;
}
.contact-name {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--SUB-HEADING-FONT);
  color: var(--MAIN-HEADING-COLOR);
}

/* footer */

footer {
  margin-top: 60px;
  height: 427px;
  background-color: var(--MAIN-HEADING-COLOR);
  display: grid;
  place-content: center;
}
.footer-div {
  height: 258px;
  width: 1100px;
}
.footer-upper-div {
  height: 199px;
  border-bottom: 1px solid #bfd2f8;
  display: flex;
  justify-content: space-between;
}
.footer-upper-right-div {
  width: 251px;
  height: 110px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-heading {
  font-family: var(--MAIN-HEADING-FONT);
  font-weight: 400;
  font-size: 36px;
  color: #bfd2f8;
}
.footer-content {
  font-family: var(--SUB-HEADING-FONT);
  font-size: 18px;
  font-weight: 400;
  color: #fcfefe;
}
.footer-upper-imp-link,
.footer-upper-middle-div {
  width: 152px;
  height: 169px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imp-link-heading {
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 600;
  font-size: 18px;
  color: #fcfefe;
}
.footer-upper-imp-link > ul,
.footer-upper-middle-div > ul {
  list-style: none;
  font-family: var(--SUB-HEADING-FONT);
  font-size: 16px;
  font-weight: 400;
  color: #fcfefe;
  height: 109px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-upper-middle-div,
.footer-upper-middle-div > ul {
  width: 246px;
}
.footer-upper-left-div {
  height: 110px;
  width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-upper-left-div > input {
  width: 282px;
  height: 50px;
}
.footer-lower-div {
  height: 30px;
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-lower-left-p {
  height: 19px;
  width: 458px;
  font-style: var(--SUB-HEADING-FONT);
  font-weight: 400;
  font-size: 16px;
  color: #fcfefe;
}
.footer-social-media {
  width: 102px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

/* about Us page */

/* main part */

.main-bg-div {
  height: 250px;
  width: 100%;
  background: url(../svg/about-us-group-pic.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 200px;
}
.main-bg-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(251, 254, 254, 0.5);
  pointer-events: none;
}
.main-bg-p > span {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--SUB-HEADING-FONT);
  color: var(--MAIN-HEADING-COLOR);
}
.main-bg-p {
  font-family: var(--MAIN-HEADING-FONT);
  font-weight: 400;
  font-size: 48px;
  color: var(--MAIN-HEADING-COLOR);
  z-index: 100;
  position: relative;
}

/* wellcome message */

.wellcome-message-main-div {
  height: 509px;
  width: 1000px;
  margin: 50px auto 0 auto;

  display: flex;
  justify-content: space-between;
}
.wellcome-message-box {
  height: 509px;
  width: 572px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wellcome-messaage-heading-box {
  height: 139px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.second-service-list-about-us {
  width: 500px;
  height: 107px;
}
.second-service-explain-for-about-us {
  height: 200px;
  line-height: 25px;
  text-align: start;
}

/* wellcome quote */

.wellcome-quote-div {
  height: 441px;
  background: url(../code-pic/wellcome-quote-pic.png);
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.wellcome-quote-div::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: url(../code-pic/wellcome-quote-bg.png);
}
.about-quote-box {
  height: 313px;
  width: 658px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.about-quote {
  font-size: 22px;
  font-weight: 400;
  font-family: var(--SUB-HEADING-FONT);
  line-height: 30px;
  color: #fcfefe;
  text-align: center;
}
.quote-line {
  height: 0.5px;
  width: 230px;
  background-color: #bfd2f8;
}
.quote-author {
  font-family: var(--SUB-HEADING-FONT);
  font-weight: 400;
  font-size: 22px;
  color: #fcfefe;
}
.about-scroll-dot-box {
  height: 18px;
  width: 74px;
  display: flex;
  justify-content: space-between;
}
.box-scroll-dot-about {
  background-color: #fff;
}
.box-scroll-dot-about-color {
  background-color: #bfd2f8;
}
